/* GENERAL */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

ul li {
    list-style: none;
    cursor: pointer;
}

/* STYLE */
.done-todo{
    text-decoration: line-through;
}

.f-size{
    font-size: large;
}
